.env
node_modules/
npm-debug.log*
models/pretrained_models/
__pycache__/
*.py[cod]
.Rhistory
.DS_Store
Thumbs.db
.vscode/
.idea/
PlantNet_PlantCLEF2024_pretrained_models_on_the_flora_of_south-western_europe.tar
